/* внешние границы таблицы серого цвета толщиной 1px */
table {
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
}

/* границы ячеек первого ряда таблицы */
th {
    border: 1px solid grey;
    font-size: 250%;
}

/* границы ячеек тела таблицы */
td {
    border: 1px solid grey;
    font-size: 250%;
}

h1 {
    text-align: center;
}

#center {
    position: relative;
            left: 50%;
            -webkit-transform: translateX(-20%);
            -ms-transform: translateX(-20%);
            transform: translateX(-20%);
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}